.auditt img, .bmwm3 img {
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 68px;
}

.grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0;
  padding: 10px;
}

header nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0%;
  text-decoration: none;
  background-color: rgba(69, 171, 218, 0.856);
  padding: 20px 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav{
  align-items: center;
  justify-content: center;
  justify-items: center;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}

nav a{
  font-weight: 600;
}

nav a:hover{
  color: blue;
}

h3 a{
  text-decoration: none;
  color: black;
}

h3 a:hover{
  color: blue;
}

footer div ul{
list-style: none;
}

footer div ul li a:hover{
  color: blue;
}

footer div ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: rgba(69, 171, 218, 0.856);
  padding: 10px 50px;
}

section div img {
  height: 300px;
  width: 400px;
  margin: 68px;
}

section div h2 {
  border: none;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex h3 a{
  display: grid;
  grid-template-columns:1fr;
  margin-top: 50px;
}

.clase {
  display: flex;
  justify-content: center;
}

.clase h3 a{
  display: grid;
  grid-template-columns:1fr;
  margin-top: 50px;
}

.video{
  display: flex;
  justify-content: center;
}

main iframe {
  height: 250px;
  width: 500px;
  margin: 25px;
}

.vento img {
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 50px;
}

.ventito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.megane img {
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 65px;
}

.megancito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}


.golff img {
  height: 300px;
  width: 500px;
  margin: -10px;
  padding: 50px;
}

.golfito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.camaro img {
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 68px;
}

.camarito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.bmw220 img {
  justify-content: center;
  height: 300px;
  width: 500px;
  margin: 68px;
}

.bmw220cito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.bmwm3cito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.audir8 img {
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 68px;
}

.audir8cito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.audittcito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

header nav ul li {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

body {
  background-color: lightblue;
}
body h1 {
  text-align: center;
  color: blue;
  border: dotted;
}
body h2 {
  text-align: center;
  color: black;
  justify-content: center;
  border: dashed;
}

.form-register {
  width: 50%;
  height: 70%;
  background: #24303c;
  padding: 50px;
  padding-top: 5px;
  padding-bottom: 0%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(69, 171, 218, 0.856);
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: rgba(69, 171, 218, 0.856);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

@media (max-width: 552px) {
  .media {
    flex-direction: column;
  }
  section div img {
    height: 100px;
    width: 200px;
  }
  main iframe {
    justify-content: center;
    height: 200px;
    width: 350px;
  }
  body {
    background-color: rgb(216, 222, 226);
  }
  p{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    padding: 10px 20px;
  }
  main iframe {
    margin: 5%;
    height: auto;
    width: auto;
  }
  .imguno {
    height: 100px;
    width: 115px;
    margin: 20px;
  }
  .imgdos {
    height: 100px;
    width: 115px;
    margin: 20px;
  }
  .imgtres {
    height: 100px;
    width: 115px;
    margin: 20px;
  }
  .imgcuatro {
    height: 100px;
    width: 115px;
    margin: 20px;
  }

  .golff img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .vento img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .camaro img{
    height: 130px;
    width: 160px;
    padding: 5px;
    margin: 0%;
  }

  .megane img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .audir8 img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .auditt img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .bmw220 img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  .bmwm3 img{
    height: 130px;
    width: 160px;
    margin: 0%;
    padding: 5px;
  }

  header nav ul li{
    padding: 5px 5px;
    margin: 5px;
  }



  h3{
    display: none;
  }

  footer div ul li a{
    justify-content: center;
    padding: 0%;
  }

  .form-register{
    width: 60%;
    height: 30%;
    margin: 20px;
  }

  .form-register p{
    margin-bottom: 10px;
  }

}

/*# sourceMappingURL=style.css.map */
