header nav ul li a{
    display: flex;
    justify-content: center;
}

body{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: blue;
    border: dotted;
}

.video{
    display: flex;
    justify-content: center;
}

main iframe{
    height: 350px;
    width: 600px;
    margin: 40px;
}

.flex {
    display: flex;
    justify-content: center;
}

.clase{
    display: flex;
    justify-content: center;
}

section div img{
    height: 300px;
    width: 400px;
    margin: 30px;
}


.image img{
    height: 300px;
    width: 500px;
    margin: 68px;
}
h2{
    text-align: center;
    color: black;
    justify-content: center;
}
.vento img{
    height: 300px;
    width: 500px;
    margin: 50px;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightskyblue;
}



.camaro img{
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 68px;
}
.megane img{
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 68px;
}



.audir8 img{
    align-items: end;
    height: 300px;
    width: 500px;
    margin: 68px;
}
.auditt img{
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 68px;
}



.bmw220 img{
    justify-content: center;
    height: 300px;
    width: 500px;
    margin: 68px;
}
.bmwm3 img{
    justify-content: center;
    height: 300px;
    width: 500px;
    margin: 68px;
}

@media (max-width:552px) {
    .media{
       flex-direction: column;
    }
    section div img{
        height: 100px;
        width: 200px;
    }
    h2{
        display: none;
    }

    main iframe{
        justify-content: center;
        height: 200px;
        width: 350px;
    }
    body {
        background-color: rgb(216, 222, 226);
    }
    .image img{
        margin: 0%;
    }
    .vento img{
        margin: 0%;
    }
    main iframe{
        margin: 5%;
    }

}



